@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Laila:wght@300;400&family=Roboto+Serif:ital,opsz,wght@1,8..144,100&family=Satisfy&family=Tilt+Prism&display=swap');

nav{
    background-color: beige;
}

.logo{
    border-radius: 4px;
    width: 100px;
}

.logo :hover{
    cursor: pointer;
}
a{
    text-decoration: none;
}
.logA{
    display: flex;
    /* margin-left: 700px; */
    border-radius: 10px;
    border-color: rgb(79, 195, 147);
    font-weight: 600;
    justify-content: end;
}

